# Neural Network

# Problem Statement:
A Company wants to automate the loan eligibility process based on customer details provided while filling online application form. The details filled by the customer are Gender, Marital Status, Education, Number of Dependents, Income of self and co applicant, Required Loan Amount, Required Loan Term, Credit History and others.Check eligibility of the Customer given the inputs described above.(Classification)

In [1]:
import pandas as pd
from warnings import filterwarnings
filterwarnings("ignore")

In [2]:
A=pd.read_csv("D:/python/datasets/training_set.csv")
A.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
B=A.drop(labels=("Loan_ID"),axis=1)

In [4]:
from preprocessing_6PM import replacer
replacer(B)

In [5]:
Y=B[["Loan_Status"]]
X=B.drop(labels=("Loan_Status"),axis=1)

In [6]:
from preprocessing_6PM import data_prep
Xnew=data_prep(X)

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
Y.Loan_Status=le.fit_transform(Y)

In [8]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

In [9]:
from keras.models import Sequential
from keras.layers import Dense,Dropout
from keras.callbacks import EarlyStopping

In [11]:
# Y is in categorical form thats why we use the activation=sigmoid

In [10]:
nn = Sequential()
nn.add(Dense(200,input_dim=(Xnew.shape[1])))
nn.add(Dense(200))
nn.add(Dropout(0.2))
nn.add(Dense(200))
nn.add(Dropout(0.2))
nn.add(Dense(200))
nn.add(Dropout(0.2))
nn.add(Dense(1,activation="sigmoid"))

In [13]:
nn.compile(loss="binary_crossentropy",metrics=["accuracy"])
nn.fit(xtrain,ytrain,validation_split=0.2,batch_size=20,epochs=100)

Epoch 1/100
20/20 [==============================] - 3s 36ms/step - loss: 0.4713 - accuracy: 0.7959 - val_loss: 0.5138 - val_accuracy: 0.7980
Epoch 2/100
20/20 [==============================] - 0s 16ms/step - loss: 0.4600 - accuracy: 0.8189 - val_loss: 0.5649 - val_accuracy: 0.8081
Epoch 3/100
20/20 [==============================] - 0s 16ms/step - loss: 0.4610 - accuracy: 0.8138 - val_loss: 0.5313 - val_accuracy: 0.8081
Epoch 4/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4623 - accuracy: 0.8010 - val_loss: 0.5568 - val_accuracy: 0.8081
Epoch 5/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4658 - accuracy: 0.8112 - val_loss: 0.5627 - val_accuracy: 0.8081
Epoch 6/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4639 - accuracy: 0.8163 - val_loss: 0.5168 - val_accuracy: 0.8081
Epoch 7/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4541 - accuracy: 0.8112 - val_loss: 0.5379 - val_accuracy: 0.8081
Epoch 8/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4515 - accuracy: 0.8112 - val_loss: 0.6210 - val_accuracy: 0.8081
Epoch 9/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4636 - accuracy: 0.8138 - val_loss: 0.5599 - val_accuracy: 0.8081
Epoch 10/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4616 - accuracy: 0.8138 - val_loss: 0.5240 - val_accuracy: 0.7980
Epoch 11/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4661 - accuracy: 0.8138 - val_loss: 0.5075 - val_accuracy: 0.8081
Epoch 12/100
20/20 [==============================] - 0s 19ms/step - loss: 0.4584 - accuracy: 0.8138 - val_loss: 0.5065 - val_accuracy: 0.8081
Epoch 13/100
20/20 [==============================] - 0s 19ms/step - loss: 0.4638 - accuracy: 0.8138 - val_loss: 0.5232 - val_accuracy: 0.7879
Epoch 14/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4572 - accuracy: 0.8163 - val_loss: 0.5131 - val_accuracy: 0.8081
Epoch 15/100
20/20 [==============================] - 0s 20ms/step - loss: 0.4571 - accuracy: 0.8061 - val_loss: 0.4971 - val_accuracy: 0.8081
Epoch 16/100
20/20 [==============================] - 1s 26ms/step - loss: 0.4661 - accuracy: 0.8061 - val_loss: 0.5150 - val_accuracy: 0.8081
Epoch 17/100
20/20 [==============================] - 0s 20ms/step - loss: 0.4570 - accuracy: 0.8138 - val_loss: 0.4978 - val_accuracy: 0.7980
Epoch 18/100
20/20 [==============================] - 0s 21ms/step - loss: 0.4592 - accuracy: 0.8189 - val_loss: 0.5163 - val_accuracy: 0.8081
Epoch 19/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4609 - accuracy: 0.8163 - val_loss: 0.5352 - val_accuracy: 0.8081
Epoch 20/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4551 - accuracy: 0.8138 - val_loss: 0.5477 - val_accuracy: 0.7879
Epoch 21/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4590 - accuracy: 0.8112 - val_loss: 0.5098 - val_accuracy: 0.8081
Epoch 22/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4593 - accuracy: 0.8112 - val_loss: 0.5291 - val_accuracy: 0.8081
Epoch 23/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4565 - accuracy: 0.8138 - val_loss: 0.5408 - val_accuracy: 0.7879
Epoch 24/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4588 - accuracy: 0.8189 - val_loss: 0.5321 - val_accuracy: 0.8081
Epoch 25/100
20/20 [==============================] - 0s 16ms/step - loss: 0.4611 - accuracy: 0.8138 - val_loss: 0.5331 - val_accuracy: 0.7879
Epoch 26/100
20/20 [==============================] - 0s 16ms/step - loss: 0.4530 - accuracy: 0.8138 - val_loss: 0.5261 - val_accuracy: 0.7879
Epoch 27/100
20/20 [==============================] - 0s 15ms/step - loss: 0.4615 - accuracy: 0.8036 - val_loss: 0.5087 - val_accuracy: 0.8081
Epoch 28/100
20/20 [==============================] - 0s 14ms/step - loss: 0.4551 - accuracy: 0.8036 - val_loss: 0.5111 - val_accuracy: 0.8081
Epoch 29/100
20/20 [==============================] - 0s 15ms/step - loss: 0.4603 - accuracy: 0.8087 - val_loss: 0.4909 - val_accuracy: 0.8081
Epoch 30/100
20/20 [==============================] - 0s 12ms/step - loss: 0.4574 - accuracy: 0.8061 - val_loss: 0.5172 - val_accuracy: 0.8081
Epoch 31/100
20/20 [==============================] - 0s 12ms/step - loss: 0.4552 - accuracy: 0.8087 - val_loss: 0.5349 - val_accuracy: 0.8081
Epoch 32/100
20/20 [==============================] - 0s 13ms/step - loss: 0.4410 - accuracy: 0.8138 - val_loss: 0.6086 - val_accuracy: 0.8081
Epoch 33/100
20/20 [==============================] - 0s 13ms/step - loss: 0.4631 - accuracy: 0.8163 - val_loss: 0.4854 - val_accuracy: 0.8081
Epoch 34/100
20/20 [==============================] - 0s 15ms/step - loss: 0.4560 - accuracy: 0.8087 - val_loss: 0.5049 - val_accuracy: 0.8081
Epoch 35/100
20/20 [==============================] - 0s 14ms/step - loss: 0.4560 - accuracy: 0.8087 - val_loss: 0.4950 - val_accuracy: 0.8081
Epoch 36/100
20/20 [==============================] - 0s 13ms/step - loss: 0.4566 - accuracy: 0.8163 - val_loss: 0.5496 - val_accuracy: 0.8081
Epoch 37/100
20/20 [==============================] - 0s 12ms/step - loss: 0.4563 - accuracy: 0.8189 - val_loss: 0.5352 - val_accuracy: 0.8081
Epoch 38/100
20/20 [==============================] - 0s 12ms/step - loss: 0.4470 - accuracy: 0.8163 - val_loss: 0.5072 - val_accuracy: 0.7980
Epoch 39/100
20/20 [==============================] - 0s 12ms/step - loss: 0.4556 - accuracy: 0.8112 - val_loss: 0.5393 - val_accuracy: 0.8081
Epoch 40/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4457 - accuracy: 0.8138 - val_loss: 0.5111 - val_accuracy: 0.8081
Epoch 41/100
20/20 [==============================] - 0s 19ms/step - loss: 0.4608 - accuracy: 0.8189 - val_loss: 0.5378 - val_accuracy: 0.8081
Epoch 42/100
20/20 [==============================] - 0s 19ms/step - loss: 0.4623 - accuracy: 0.8112 - val_loss: 0.5174 - val_accuracy: 0.8081
Epoch 43/100
20/20 [==============================] - 0s 19ms/step - loss: 0.4592 - accuracy: 0.8112 - val_loss: 0.5142 - val_accuracy: 0.8081
Epoch 44/100
20/20 [==============================] - 0s 19ms/step - loss: 0.4571 - accuracy: 0.8087 - val_loss: 0.4962 - val_accuracy: 0.7980
Epoch 45/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4555 - accuracy: 0.8087 - val_loss: 0.4979 - val_accuracy: 0.7980
Epoch 46/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4522 - accuracy: 0.8112 - val_loss: 0.5031 - val_accuracy: 0.8081
Epoch 47/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4568 - accuracy: 0.8112 - val_loss: 0.4963 - val_accuracy: 0.8081
Epoch 48/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4577 - accuracy: 0.8163 - val_loss: 0.4983 - val_accuracy: 0.8081
Epoch 49/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4531 - accuracy: 0.8138 - val_loss: 0.5199 - val_accuracy: 0.7980
Epoch 50/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4878 - accuracy: 0.8061 - val_loss: 0.5310 - val_accuracy: 0.8081
Epoch 51/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4522 - accuracy: 0.8112 - val_loss: 0.5421 - val_accuracy: 0.7980
Epoch 52/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4567 - accuracy: 0.8112 - val_loss: 0.5444 - val_accuracy: 0.8081
Epoch 53/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4516 - accuracy: 0.8189 - val_loss: 0.5413 - val_accuracy: 0.8081
Epoch 54/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4591 - accuracy: 0.8112 - val_loss: 0.5276 - val_accuracy: 0.8081
Epoch 55/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4506 - accuracy: 0.8087 - val_loss: 0.5177 - val_accuracy: 0.8081
Epoch 56/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4546 - accuracy: 0.8163 - val_loss: 0.5321 - val_accuracy: 0.8081
Epoch 57/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4562 - accuracy: 0.8138 - val_loss: 0.5132 - val_accuracy: 0.7980
Epoch 58/100
20/20 [==============================] - 0s 19ms/step - loss: 0.4570 - accuracy: 0.8138 - val_loss: 0.5582 - val_accuracy: 0.7980
Epoch 59/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4621 - accuracy: 0.8163 - val_loss: 0.5099 - val_accuracy: 0.8081
Epoch 60/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4641 - accuracy: 0.8138 - val_loss: 0.5148 - val_accuracy: 0.7980
Epoch 61/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4555 - accuracy: 0.8189 - val_loss: 0.5083 - val_accuracy: 0.8081
Epoch 62/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4541 - accuracy: 0.8061 - val_loss: 0.5184 - val_accuracy: 0.8081
Epoch 63/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4556 - accuracy: 0.8138 - val_loss: 0.4993 - val_accuracy: 0.7980
Epoch 64/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4546 - accuracy: 0.8087 - val_loss: 0.5255 - val_accuracy: 0.7980
Epoch 65/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4515 - accuracy: 0.8214 - val_loss: 0.4959 - val_accuracy: 0.8081
Epoch 66/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4558 - accuracy: 0.8061 - val_loss: 0.5381 - val_accuracy: 0.7980
Epoch 67/100
20/20 [==============================] - 0s 19ms/step - loss: 0.4605 - accuracy: 0.8112 - val_loss: 0.5393 - val_accuracy: 0.8081
Epoch 68/100
20/20 [==============================] - 0s 20ms/step - loss: 0.4528 - accuracy: 0.8163 - val_loss: 0.4950 - val_accuracy: 0.8081
Epoch 69/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4548 - accuracy: 0.8163 - val_loss: 0.5473 - val_accuracy: 0.7980
Epoch 70/100
20/20 [==============================] - 0s 20ms/step - loss: 0.4551 - accuracy: 0.8189 - val_loss: 0.5184 - val_accuracy: 0.7980
Epoch 71/100
20/20 [==============================] - 0s 20ms/step - loss: 0.4625 - accuracy: 0.8138 - val_loss: 0.5123 - val_accuracy: 0.8081
Epoch 72/100
20/20 [==============================] - 0s 20ms/step - loss: 0.4493 - accuracy: 0.8087 - val_loss: 0.5118 - val_accuracy: 0.8081
Epoch 73/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4522 - accuracy: 0.8061 - val_loss: 0.5026 - val_accuracy: 0.7980
Epoch 74/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4554 - accuracy: 0.8163 - val_loss: 0.5127 - val_accuracy: 0.8081
Epoch 75/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4547 - accuracy: 0.8112 - val_loss: 0.5336 - val_accuracy: 0.8081
Epoch 76/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4594 - accuracy: 0.8087 - val_loss: 0.5255 - val_accuracy: 0.8081
Epoch 77/100
20/20 [==============================] - 0s 16ms/step - loss: 0.4545 - accuracy: 0.8138 - val_loss: 0.5171 - val_accuracy: 0.8081
Epoch 78/100
20/20 [==============================] - 0s 14ms/step - loss: 0.4560 - accuracy: 0.8163 - val_loss: 0.5885 - val_accuracy: 0.8081
Epoch 79/100
20/20 [==============================] - 0s 14ms/step - loss: 0.4531 - accuracy: 0.8138 - val_loss: 0.5036 - val_accuracy: 0.8081
Epoch 80/100
20/20 [==============================] - 0s 16ms/step - loss: 0.4584 - accuracy: 0.8138 - val_loss: 0.5037 - val_accuracy: 0.8081
Epoch 81/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4577 - accuracy: 0.8163 - val_loss: 0.5313 - val_accuracy: 0.8081
Epoch 82/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4530 - accuracy: 0.8087 - val_loss: 0.5293 - val_accuracy: 0.8081
Epoch 83/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4488 - accuracy: 0.8138 - val_loss: 0.5311 - val_accuracy: 0.7980
Epoch 84/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4529 - accuracy: 0.8138 - val_loss: 0.5212 - val_accuracy: 0.8081
Epoch 85/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4520 - accuracy: 0.8163 - val_loss: 0.4997 - val_accuracy: 0.7980
Epoch 86/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4572 - accuracy: 0.8138 - val_loss: 0.5190 - val_accuracy: 0.8081
Epoch 87/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4494 - accuracy: 0.8087 - val_loss: 0.6052 - val_accuracy: 0.8081
Epoch 88/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4607 - accuracy: 0.8189 - val_loss: 0.5021 - val_accuracy: 0.8081
Epoch 89/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4551 - accuracy: 0.8061 - val_loss: 0.5039 - val_accuracy: 0.8081
Epoch 90/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4568 - accuracy: 0.8061 - val_loss: 0.5395 - val_accuracy: 0.7980
Epoch 91/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4578 - accuracy: 0.8138 - val_loss: 0.5138 - val_accuracy: 0.7980
Epoch 92/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4581 - accuracy: 0.8087 - val_loss: 0.5116 - val_accuracy: 0.7980
Epoch 93/100
20/20 [==============================] - 0s 18ms/step - loss: 0.4518 - accuracy: 0.8112 - val_loss: 0.5055 - val_accuracy: 0.7980
Epoch 94/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4543 - accuracy: 0.8036 - val_loss: 0.5226 - val_accuracy: 0.8081
Epoch 95/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4523 - accuracy: 0.8138 - val_loss: 0.5518 - val_accuracy: 0.8081
Epoch 96/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4643 - accuracy: 0.8163 - val_loss: 0.5181 - val_accuracy: 0.8081
Epoch 97/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4539 - accuracy: 0.8112 - val_loss: 0.5171 - val_accuracy: 0.8081
Epoch 98/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4541 - accuracy: 0.8087 - val_loss: 0.5045 - val_accuracy: 0.8081
Epoch 99/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4516 - accuracy: 0.8138 - val_loss: 0.5302 - val_accuracy: 0.8081
Epoch 100/100
20/20 [==============================] - 0s 17ms/step - loss: 0.4466 - accuracy: 0.8036 - val_loss: 0.5443 - val_accuracy: 0.8081

In [14]:
C=pd.read_csv("D:/python/datasets/testing_set.csv")
C.head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban

In [20]:
D=C.drop(labels=("Loan_ID"),axis=1)

In [21]:
from preprocessing_6PM import replacer,data_prep
replacer(D)

In [23]:
test=data_prep(D)

In [24]:
test.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Gender_Female', 'Gender_Male',
       'Married_No', 'Married_Yes', 'Dependents_0', 'Dependents_1',
       'Dependents_2', 'Dependents_3+', 'Education_Graduate',
       'Education_Not Graduate', 'Self_Employed_No', 'Self_Employed_Yes',
       'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban'],
      dtype='object')

In [25]:
Xnew.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Gender_Female', 'Gender_Male',
       'Married_No', 'Married_Yes', 'Dependents_0', 'Dependents_1',
       'Dependents_2', 'Dependents_3+', 'Education_Graduate',
       'Education_Not Graduate', 'Self_Employed_No', 'Self_Employed_Yes',
       'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban'],
      dtype='object')

In [26]:
test.shape

(367, 20)

In [27]:
Xnew.shape

(614, 20)

In [28]:
#both the data have same columns 20 then we predict data

In [31]:
#convert the data into 0 & 1

In [32]:
Q = []
for i in nn.predict(test):
    if(i[0] < 0.5):
        Q.append(0)
    else:
        Q.append(1)

In [33]:
pred = le.inverse_transform(Q)

In [41]:
B=pd.read_csv("D:/python/datasets/testing_set.csv")

In [42]:
C = B[["Loan_ID"]]

In [43]:
C

      Loan_ID
0    LP001015
1    LP001022
2    LP001031
3    LP001035
4    LP001051
..        ...
362  LP002971
363  LP002975
364  LP002980
365  LP002986
366  LP002989

[367 rows x 1 columns]

In [44]:
C['Loan_Status_Predicted'] = pred

In [45]:
C

      Loan_ID Loan_Status_Predicted
0    LP001015                     Y
1    LP001022                     Y
2    LP001031                     Y
3    LP001035                     Y
4    LP001051                     Y
..        ...                   ...
362  LP002971                     Y
363  LP002975                     Y
364  LP002980                     Y
365  LP002986                     Y
366  LP002989                     Y

[367 rows x 2 columns]